{% if version is defined %}
 {% if version == "v1" %}
upstream be_version_v1 {
 {% for address in Address_v1 %}
  server {{ address }};
 {% endfor %}
}
{% elif version == "v2" %}
upstream be_version_v2 {
 {% for address in Address_v2 %}
  server {{ address }};
 {% endfor %}
}
{% endif %}
{% endif %}

server {
  listen 80;

{% if version is defined %}
 {% if version == "v1" %}
  location /v1/ {
    proxy_pass http://be_version_v1;
  }
 {% elif version == "v2" %}
  location /v2/ {
    proxy_pass http://be_version_v2;
  }

{% else %}
  location / {
    proxy_pass http://{{ Address_v1[0] }};
  }
{% endif %}
{% endif %}
}
